/* Font Faces */
@font-face {
    font-family: 'Radiance';
    src: url('./assets/radiance-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Reaver';
    src: url('./assets/reaver-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --main-bg-color: #121212;
    --panel-color: rgba(18, 18, 18, 0.4);     /* need way lower transparency since it overlaps like a material */
    --gamepanel-color: rgba(0, 0, 0, 0.9);
    --text-color: white;
    --btn-color: #ffffff50;
    --body-color: rgba(0, 0, 0, 0.4);
  }
  
  
  * {
    color: white;
    font-family: 'Radiance', 'Times New Roman';
    box-sizing: border-box;
  }


body {
  background-color: var(--body-color);
  padding: 1% 3%;
}

#bg-video {
    position: fixed;

    /* centers the video */
    right: 0;
    bottom: 0;
    top:0;
    left:0;

    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: brightness(0.4);
}



/* main panel layouts */ 
.gamePanel {
    /* display: flex; */
    display: flex;   /* so that it does not stretch like a block element */
    justify-content: center;    
    gap: 100px;    
    background-color: var(--gamepanel-color);
    max-width: fit-content;   /* so that it does not stretch like a block element */
    margin: 75px auto;
    padding: 10px;
}


/* center game panel */ 

.spell-casting {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spell-orbs .icon {
  border-radius: 100%;
}

.icon {
    width: 100px;
    margin: 5px;
}







.panel {
  background-color: var(--panel-color);  
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  border-radius: 8px;
  align-items: center;
  
}




ul {
    list-style: none;
    padding-left: 0;
}

.spell-row {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 15px auto;
}

.spell-row img {
    height: 33px;
    width: 33px;
}



.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;              /* using set width/heights because font is not monospaced */ 
  height: 25px;
  margin: 4px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.7); 
  
}


/* Specific quas/wex/exort stylings */ 

.key.q {
  color: #9fd9ff; /* light cyan */
  background: linear-gradient(to bottom, #1e42ac, #1c2e57);

}

.key.w {
  color: #ff9cff; 
  background: linear-gradient(to bottom, #5c2a5c, #2e122f);
}

.key.e {
  color: #ffd87a; 
  background: linear-gradient(to bottom, #814200, #3a1d00);
}



h1, h2, h3 {
  font-family: 'Reaver', serif;  
  letter-spacing: 5px;
  text-shadow: 0px 0px 15px black;
  

}

h1.title {
  letter-spacing: 10px;
}



.gamemodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  flex: 1;   

}



button {
  background-color: var(--btn-color);
  letter-spacing: 2px;
}


